# App framework
streamlit==1.29.0

# Article extraction
newspaper3k==0.2.8
lxml<5.0.0  # Use <5.0.0 to avoid breaking newspaper3k
readability-lxml==0.8.1
beautifulsoup4==4.12.0
requests==2.31.0

# NLP summarization
transformers==4.36.2
